[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arnabeceiar
[access "refs/for/refs/*"]
	read = group user/arnabeceiar
	push = group user/arnabeceiar
	label-Code-Review = -2..+2 group user/arnabeceiar
	label-Verified = -1..+1 group user/arnabeceiar
	rebase = group user/arnabeceiar
	removeReviewer = group user/arnabeceiar
	submit = group user/arnabeceiar
[access "refs/heads/*"]
	read = group user/arnabeceiar
	create = group user/arnabeceiar
	push = +force group user/arnabeceiar
	pushMerge = group user/arnabeceiar
[access "refs/tags/*"]
	push = group user/arnabeceiar
	push = +force group user/arnabeceiar
